<!DOCTYPE html>
<html>
  <head>
    <title>Thanks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <header>
    <h1 class="title">ありがとうノート</h1>
    <nav class="nav">
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
